body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.profile-container {  
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: royalblue;
    height: 140px;
    width: 1100px;
}

.header h1 {
    font-size: 24px;
}

.profile-info {
    padding: 20px;
    text-align: center;
}

.profile-image {
    position: absolute;
    left: 300px;
    bottom: 300px;
    border-radius: 50%;
    width: 100px;
    border: 8px solid white;
    height: 100px
    
}

.profile-banner{
    width: 500px;
    height: 200px;
    border-radius: 5%;
    border: 2px solid white;
}

.username {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    left: 300px;
    bottom: 280px;
}

.bio {
    font-size: 16px;
    margin-top: 10px;
    position: absolute;
    left: 300px;
    bottom: 260px;
}

.birthday{
    font-size: 15px;
    margin-top: 10px;
    position: absolute;
    left: 300px;
    bottom:240px;
}

.bio2{
    font-size: 15px;
    margin-top: 10px;
    position: absolute;
    left: 300px;
    bottom:220px;
}

.button{
    border: 2px solid black;
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 25px;
    position: absolute;
    left: 950px;
    bottom: 270px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
}

.followers{
    font-size: 15px;
    color: gray;
    margin-top: 10px;
    position: absolute;
    left: 300px;
    bottom:200px;  
}