
/*-!-!-!-FOR BOTH BOX CONTENTS-!-!-!-*/
.friends-header {
  position: absolute;
  top: 40px;
  left: 50px;
  flex-direction: column;
  font-family: var(--font);
  font-weight: bold;
  font-size: 35px;
}

.friends-search{
    position: absolute;
    top: 90px;
    left: 50px;
    width: 760px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
}

.visit-but1 {
    position: absolute;      
    top: 200px;
    left: 155px;
    height: 30px;
    width: 90px;
    border-radius: 20px;
    background-color: white;
}

.visit-but1:hover {
    background-color: var(--orange);
}

.visit-but2 {
    position: absolute;
    top: 320px;
    left: 155px;
    height: 30px;
    width: 90px;
    border-radius: 20px;
    background-color: white;
}

.visit-but2:hover {
    background-color: var(--orange);
}

.adfr-but1 {
    position: absolute;      
    top: 200px;
    left: 250px;
    height: 30px;
    width: 90px;
    border-radius: 20px;
    background-color: white;
}

.adfr-but1:hover {
    background-color: var(--orange);
}

.adfr-but2 {
    position: absolute;      
    top: 320px;
    left: 250px;
    height: 30px;
    width: 90px;
    border-radius: 20px;
    background-color: white;
}

.adfr-but2:hover {
    background-color: var(--orange);
}

/*-!-!-!-YOUR FRIENDS LIST-!-!-!-*/
.friends-container {
    display: flex;
    flex: auto;
    position: absolute;
    top: 200px;
    right: 290px;
    height: 480px;
    width: 880px;
    flex-direction: column;
    overflow: auto;
    background-color: var(--gray-white);
  }

/*--------HECTOR--------*/
.picture-hector {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 120px;
    left: 55px;
    margin-top: 2rem;
    row-gap: 20;
    border-radius: 50%;
    object-fit: cover;
    height: 90px;
    width: 90px;
}

.name-hector {
    position: absolute;
    top: 170px;
    left: 155px;
    font-family: var(--font);
    font-weight: bold;
    font-size: 23px;
}

/*--------MHAI--------*/
.picture-mhai {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 120px;
    left: 55px;
    margin-top: 2rem;
    row-gap: 20;
    border-radius: 50%;
    object-fit: cover;
    height: 90px;
    width: 90px;
}

.name-mhai {
    position: absolute;
    top: 290px;
    left: 155px;
    font-family: var(--font);
    font-weight: bold;
    font-size: 23px;
}

/*-!-!-!-PEOPLE YOU MAY KNOW-!-!-!-*/
.pymk-container {
    display: flex;
    position: absolute;
    top: 720px;
    right: 290px;
    height: 480px;
    width: 880px;
    flex-direction: column;
    overflow: auto;
    background-color: var(--gray-white);
  }

  /*--------NIKKI--------*/
  .picture-nikki {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 120px;
    left: 55px;
    margin-top: 2rem;
    row-gap: 20;
    border-radius: 50%;
    object-fit: cover;
    height: 90px;
    width: 90px;
}

.name-nikki {
    position: absolute;
    top: 170px;
    left: 155px;
    font-family: var(--font);
    font-weight: bold;
    font-size: 23px;
}

  /*--------YSABELLE--------*/
  .picture-ysabel {
    display: flex;
    position: relative;
    flex-direction: row;
    top: 120px;
    left: 55px;
    margin-top: 2rem;
    row-gap: 20;
    border-radius: 50%;
    object-fit: cover;
    height: 90px;
    width: 90px;
}

.name-ysabel {
    position: absolute;
    top: 290px;
    left: 155px;
    font-family: var(--font);
    font-weight: bold;
    font-size: 23px;
}