.friends-container {
  display: flex;
  position: absolute;
  top: 200px;
  right: 400px;
  height: 500px;
  width: 780px;
  flex-direction: column;
  overflow: auto;
  background-color: var(--light-gray);
}

.friends-pic {
    
}