/* STYLES FOR HOME PAGE */

.left-sidebar {
  position: sticky;
  top: 0;
  max-width: 25%;
  height: 100vh;
  background-color: white;
  padding: .5rem 1.25rem;
  overflow: hidden;
}

.search-bar {
  border-radius: 1rem;
  border: 2px solid var(--light-gray);
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: .25rem .5rem .25rem .25rem;
  margin: 1rem 0;
  overflow: hidden;
}

.search-bar input {
    flex: 1;
    outline: 0;
    font-size: inherit;
    border: none;
}

.search-bar button {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.search-bar button > * {
    width: 1.25rem;
}


.search-bar:focus-within {
    color: var(--orange);
    border: 2px solid var(--orange);
}

.trending {
    background-color: var(--dirty-white);
    border-radius: .75rem;
    padding: 1rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.trending h2 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 600;
}