/* STYLES FOR HOME PAGE */

.left-sidebar {
  position: sticky;
  top: 0;
  min-width: 25%;
  height: 100vh;
  background-color: white;
  padding: 0.5rem 1.25rem;
  overflow: hidden;
}

.search-bar {
  border-radius: 1rem;
  border: 2px solid var(--light-gray);
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem 0.25rem 0.25rem;
  margin: 1rem 0;
  overflow: hidden;
}

.search-bar input {
  flex: 1;
  outline: 0;
  font-size: inherit;
  border: none;
}

.search-bar button {
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.search-bar button > * {
  width: 1.25rem;
}

.search-bar:focus-within {
  color: var(--orange);
  border: 2px solid var(--orange);
}

.trending {
  background-color: var(--dirty-white);
  border-radius: 0.75rem;
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--secondary-font);
}

.trending h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.trend-card h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.trending h4 {
  color: var(--light-dark-gray);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.trending p {
  color: var(--light-dark-gray);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.trend-card {
  display: flex;
  justify-content: space-between;
}

.symbol > * {
  cursor: pointer;
  width: 1.25rem;
}
