/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ADD YOUR STYLE HERE */
:root {
  --orange: #ff9519;
  --white: #ffffff;
  --light-gray: #bdbdbd;
  --gray-white: #ededed;
  --light-dark-gray: #737373;
  --dirty-white: #f5f5f5;
  --black: #000000;
  --font: "Manrope", sans-serif;
}

body {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  width: 100%;
}

main > * {
  flex-basis: 100%;
}

.nav-logo {
  max-width: 75%;
}

.navbar {
  position: sticky;
  display: flex;
  top: 0;
  flex-direction: column;
  align-items: center;
  max-width: 15%;
  height: 190vh;
  padding-top: 1rem;
  overflow: auto;
  background-color: var(--white);
  border-right: 3px solid var(--light-gray);
}

.nav-links {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-links > * {
  padding: 1rem 1.5rem;
}

.nav-active {
  color: var(--orange);
  font-weight: 700;
}

.nav-active:hover {
  color: var(--black);
}

.nav-links > *:hover {
  background-color: var(--dirty-white);
  border-radius: 1rem;
  color: var(--orange);
}

.home-banner {
  width: 100%;
  z-index: 10;
}

.main-feed {
  min-width: 50%;
}

.cover-photo {
  width: 100%;
  overflow: hidden;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-photo img {
  width: 100%;
  height: auto;
}

.profile-info {
  padding: 1.25rem 5rem;
  border-bottom: 2px solid var(--light-gray);
}

.profile-info-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: -8%;
  margin-bottom: 1rem;
}

.profile-info-section button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 1.5rem;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.profile-info-section button:hover {
  border: 2px solid var(--orange);
  color: var(--orange);
}

.profile-image {
  border-radius: 50%;
  width: 10%;
  border: 5px solid white;
}

.post-card > .username {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.info-tags {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.125rem;
  margin: 0.5rem 0;
}

.info-tags > * {
  margin-right: 0.5rem;
}

.followers {
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 700;
}
